* {
    margin: 0;
    padding: 0;
    background-color: rgb(25, 0, 255);
    color: whitesmoke;
}

p {
    color: rgb(179, 215, 255);
}
.profilePhoto {
    border-radius: 50 px;
    border: none;
    text-align: center;
}
